@import "variables";
h1 {
  color: $red-color;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
}

.card-course-item {
  margin-top: 16px;
}

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.check-box-all {
  width: 140px;
  margin: 0 12px;
}
